{% extends "admin/base_site.html" %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <div>
        <fieldset>
            <legend>{{ title }}</legend>
            {% for field in order_status_form %}
                <div>
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
        </fieldset>
    </div>
    <div>
        <input type="hidden" name="action" value="update_status" />
        <input type="submit" name="apply" value="Aplicar mudança" />
    </div>
</form>
{% endblock %}
